@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* make the background using and svg patten (public/qqquad.svg */
  min-height: 100vh;
  background: black;
  color: #b6b6b6;
  line-height: 1.5;

  background-image: radial-gradient(#272727 1px, transparent 1px),
    radial-gradient(#3f3f3f 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  /* Hack */
  overflow-x: hidden;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.favicon {
  width: 42px;
  margin-bottom: -15px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.favicon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3832A2;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #005AC2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001630;
}